<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muebles mandujano</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body>


    <body>

        <nav class="flex ">

            <div class="logo ">

                <h2>Muebles Mandujano</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="http://localhost:3000/productos">Inicio</a></li>
                    <li><a href="http://localhost:3000/productos">Productos</a></li>
                    <li><a href="http://localhost:3000/agenda/">Contacto</a></li>











                </ul>
            </div>


        </nav>